<p id="notice"><%= flash[:notice] %></p>

<section id="network-choices">
    <p>Pick your poison. Do you want to post to Twitter or Facebook?</p>
    <%= link_to 'Twitter', 'auth/twitter', :id => "twitter-link" %>
    <%= link_to 'Facebook', 'auth/facebook', :id => "fb-link" %>
</section>