/* @override 
	http://localhost:3000/stylesheets/screen.css?1311816939
	http://localhost:3000/stylesheets/screen.css?1311817340
*/

header{ 
	text-align:center;
	}
header h1{ 
	font: 4em 'Love Ya Like A Sister', cursive;
	}
.grid_16 h2{ 
	font: 2em 'Love Ya Like A Sister', cursive;
	}
html p{ 
	margin-bottom:10px;
	}	
